<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
	     http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	     version="3.1">
	     
	     <servlet>
	     	<servlet-name>itemDetails</servlet-name>
	     	<servlet-class>com.admin.ItemServlet</servlet-class>
	     </servlet>
	     
	     <servlet-mapping>
	     	<servlet-name>itemDetails</servlet-name>
	     	<url-pattern>/itemDetails</url-pattern>
	     </servlet-mapping>
	     
	     <servlet>
	     	<servlet-name>add</servlet-name>
	     	<servlet-class>com.admin.addItemServlet</servlet-class>
	     </servlet>
	     
	     <servlet-mapping>
	     	<servlet-name>add</servlet-name>
	     	<url-pattern>/add</url-pattern>
	     </servlet-mapping>
	     
	     <servlet>
	     	<servlet-name>update</servlet-name>
	     	<servlet-class>com.admin.UpdateItemServlet</servlet-class>
	     </servlet>
	     
	     <servlet-mapping>
	     	<servlet-name>update</servlet-name>
	     	<url-pattern>/update</url-pattern>
	     </servlet-mapping>
	     
	     <servlet>
	     	<servlet-name>delete</servlet-name>
	     	<servlet-class>com.admin.DeleteItemServlet</servlet-class>
	     </servlet>
	     
	     <servlet-mapping>
	     	<servlet-name>delete</servlet-name>
	     	<url-pattern>/delete</url-pattern>
	     </servlet-mapping>
	     
	     <servlet>
	     	<servlet-name>userDetails</servlet-name>
	     	<servlet-class>com.admin.StockManageServlet</servlet-class>
	     </servlet>
	     
	     <servlet-mapping>
	     	<servlet-name>userDetails</servlet-name>
	     	<url-pattern>/userDetails</url-pattern>
	     </servlet-mapping>
	     
	     <servlet>
	     	<servlet-name>addu</servlet-name>
	     	<servlet-class>com.admin.AddUserServlet</servlet-class>
	     </servlet>
	     
	     <servlet-mapping>
	     	<servlet-name>addu</servlet-name>
	     	<url-pattern>/addu</url-pattern>
	     </servlet-mapping>
	     
	     <servlet>
	     	<servlet-name>updateuser</servlet-name>
	     	<servlet-class>com.admin.UpdateUserServlet</servlet-class>
	     </servlet>
	     
	     <servlet-mapping>
	     	<servlet-name>updateuser</servlet-name>
	     	<url-pattern>/updateuser</url-pattern>
	     </servlet-mapping>
	     <servlet>
	     	<servlet-name>deleteuser</servlet-name>
	     	<servlet-class>com.admin.DeleteUserServlet</servlet-class>
	     </servlet>
	     
	     <servlet-mapping>
	     	<servlet-name>deleteuser</servlet-name>
	     	<url-pattern>/deleteuser</url-pattern>
	     </servlet-mapping>
	     
	     
	     
	   	
</web-app>